<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>James Thomson - Frontend developer Copenhagen</title>
    <meta property="og:title" content="James Thomson" />
    <meta property="og:description" content="Frontend developer, Copenhagen" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.jamthom.io/me.jpg" />
    <meta property="og:image:secure_url" content="https://www.jamthom.io/me.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
    <meta property="og:url" content="https://jamthom.io/" />
    <meta name="twitter:card" content="Frontend developer, Copenhagen">
    <meta name="twitter:image" content="http://www.jamthom.io/me.jpg">
  </head>
  <body>
    <div id="app"></div>
    <% if ('%NODE_ENV%' === 'development') { %>
      <script type="text/javascript" src="/dist/build.js"></script>
    <% } %>
  </body>
</html>
