@font-face {
    font-family: 'fontello';
    src: url('fontello.woff2') format('woff2'),
        url('fontello.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


.icon-github:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-personal:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */

@font-face {
    font-family: 'IBMPlexSans-Bold';
    src: url('IBMPlexSans-Bold.woff2') format('woff2'),
        url('IBMPlexSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'IBMPlexSans-Light';
    src: url('IBMPlexSans-Light.woff2') format('woff2'),
        url('IBMPlexSans-Light.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
